src/main/resource/event/xsd/audit-event.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="userid"  minOccurs="0"/>
        <xs:element type="xs:string" name="systemid"  minOccurs="0"/>
        <xs:element type="xs:string" name="name" minOccurs="0"/>
        <xs:element type="xs:dateTime" name="eventdatetime" minOccurs="1"/>
        <xs:element type="xs:string" name="additionalinfo"  minOccurs="0"/>
        <xs:element type="xs:string" name="status" minOccurs="0"/>
        <xs:element type="xs:string" name="createdby" minOccurs="0" />
        <xs:element type="xs:dateTime" name="createddatetime" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>  